body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #B22222;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border-bottom: 2px solid #8B0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-weight: bold;
    font-size: 20px;
}

.nav-right a {
    color: white;
    background-color: #8B0000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s ease-in-out;
    display: inline-block;
}

.nav-right a:hover {
    background-color: #fdd90a;
    color: #8B0000;
}

footer {
    background-color: #B22222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-top: 2px solid #8B0000;
}

footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

footer a:hover {
    color: #fcd707;
}

.splash {
    background-color: #fff;
    color: #B22222;
    text-align: center;
    padding: 50px;
    border-bottom: 3px solid #B22222;
}

.splash h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #B22222;
}

.splash img {
    border-radius: 50%; 
    border: 5px solid #B22222; 
    width: 150px; 
    height: 200px; 
    object-fit: cover; 
    margin-top: 20px;
}


.splash p {
    font-size: 16px;
    color: #333;
}

.address {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

.tagline {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B22222;
    margin-top: 15px;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-color: #B22222;
    margin: 30px 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #B22222;
    text-align: left;
    margin-bottom: 10px;
}

section {
    padding: 20px;
    background-color: #dfdfdf;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

a {
    color: #c58989;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FF6347;
    background-color: #ffe6e6;
    border-radius: 3px;
    padding: 2px 5px;
    transition: background-color 0.3s ease, color 0.3;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #B22222;
    margin-bottom: 10px;
}

.card ul {
    text-align: left;
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
    font-size: 16px;
    color: #333;
}

.one-col {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    background-color: #B22222;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease;
}

button:hover {
    background-color: #8B0000;
}
